branches:
  only:
    - master
environment:
  matrix:
    - nodejs_version: "16"
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      GYP_MSVS_VERSION: "2019"


install:
  - ps: if (!$isLinux) { Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version) x64 }
  # - sh: sudo apt-get install python g++ make
  # - sh: nvm install $nodejs_version
  - npm run ci:install

test_script:
  - echo %APPVEYOR_BUILD_WORKER_IMAGE%
  - node --version
  - npm --version
  - npm install jest --save-dev
  - npm test

after_test:
  - npm version 1.0.0
  - npm pack
  - cd ..
  - mkdir package_install
  - cd %APPVEYOR_BUILD_FOLDER%
  - copy xxhash-addon-1.0.0.tgz %APPVEYOR_BUILD_FOLDER%\..\package_install
  - cd ..\package_install
  - npm install xxhash-addon-1.0.0.tgz

build: off
shallow_clone: true
version: "{build}"
