on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node_version:
          - 20
          - 22
          - 24
    name: Node ${{ matrix.node_version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
      - run: npm install
      - run: npm test
      - run: npm run benchmark
      - name: Package and Install
        shell: bash
        run: |
          npm pack
          mkdir ~/package_install
          cp xxhash-addon-*.tgz ~/package_install
          cd ~/package_install
          npm install xxhash-addon-*.tgz

  asan:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        node_version:
          - 20
          - 22
          - 24
        cc:
          - gcc
          - clang
        exclude:
          - os: macos-latest
            cc: gcc
    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cc }} # Set this for clang build on Ubuntu to be correctly linked.
      DEBUG: 1
    name: ASAN Node ${{ matrix.node_version }} on ${{ matrix.os }} - ${{ matrix.cc }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}

      - name: General info
        run: |
          $CC --version
          $CC -print-file-name=libclang_rt.asan_osx_dynamic.dylib

      - run: npm run debug:build

      - name: ASan npm test Ubuntu
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: LD_PRELOAD=$($CC -print-file-name=libasan.so) LSAN_OPTIONS=suppressions=suppr.lsan node --test xxhash-addon.test.js
      - name: Asan npm run benchmark Ubuntu
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: LD_PRELOAD=$($CC -print-file-name=libasan.so) LSAN_OPTIONS=suppressions=suppr.lsan node benchmark.js

      - name: ASan npm test macOS (clang)
        if: ${{ startsWith(matrix.os, 'macos') }}
        run: DYLD_INSERT_LIBRARIES=$(clang -print-file-name=libclang_rt.asan_osx_dynamic.dylib) node --test xxhash-addon.test.js
      - name: Asan npm run benchmark macOS (clang)
        if: ${{ startsWith(matrix.os, 'macos') }}
        run: DYLD_INSERT_LIBRARIES=$(clang -print-file-name=libclang_rt.asan_osx_dynamic.dylib) node benchmark.js
